flows.json
[
    {
        "id": "b4dbb932abd10490",
        "type": "tab",
        "label": "Stellio NGSI-LD Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "49203917ef3dc53c",
        "type": "tab",
        "label": "Stellio Helper",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8547a3b818800650",
        "type": "group",
        "z": "b4dbb932abd10490",
        "name": "Send to platform",
        "style": {
            "fill": "#dbcbe7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ba03599af14974d5",
            "bea5eb1b57b93a8c",
            "48cb872bad447837",
            "52635ab420ac9b57",
            "e877cd13dd0095ee"
        ],
        "x": 894,
        "y": 619,
        "w": 512,
        "h": 262
    },
    {
        "id": "9bb62de76d856a4d",
        "type": "group",
        "z": "49203917ef3dc53c",
        "name": "Get Subscriptions",
        "style": {
            "stroke": "#ffefbf",
            "fill": "#ffff7f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2e36820119375021",
            "080ab472d262251c",
            "c75e48673f6853fc",
            "bdc544139ebcbdf3"
        ],
        "x": 74,
        "y": 79,
        "w": 872,
        "h": 82
    },
    {
        "id": "6dd86781514dcb3a",
        "type": "group",
        "z": "49203917ef3dc53c",
        "name": "Delete Subscription (Stellio)",
        "style": {
            "stroke": "#ffefbf",
            "fill": "#ff7f7f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "10be74007c50d1aa",
            "4e70e0215b15eddc",
            "acbc43b901b13459",
            "0846d8739a3a413e"
        ],
        "x": 74,
        "y": 439,
        "w": 872,
        "h": 82
    },
    {
        "id": "ac0b1ae0b3d6d0d5",
        "type": "group",
        "z": "49203917ef3dc53c",
        "name": "Create subscription",
        "style": {
            "fill": "#c8e7a7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "50f6c90273d64dec",
            "9e13e3cb6787596e",
            "af2b75ee75418e36",
            "efc1dbde7ca33800",
            "2a90adb0c7c87f69",
            "bc522295a33c44e8",
            "e22b47130cab0aff",
            "922ae5c915dbfef5",
            "dd05473a52b6b668",
            "c345fc4b7d75c548"
        ],
        "x": 74,
        "y": 179,
        "w": 1252,
        "h": 242
    },
    {
        "id": "40411f41f2a1329e",
        "type": "group",
        "z": "49203917ef3dc53c",
        "name": "Delete entity",
        "style": {
            "stroke": "#ffefbf",
            "fill": "#ff7f7f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "7a1e7516db7233dd",
            "0a5fa65bb808e3f5",
            "981249c2044a8134",
            "773aa9ef6eb2d64d"
        ],
        "x": 74,
        "y": 539,
        "w": 872,
        "h": 82
    },
    {
        "id": "240edba64c1f0851",
        "type": "group",
        "z": "b4dbb932abd10490",
        "name": "Get data",
        "style": {
            "label": true,
            "fill": "#e3f3d3",
            "color": "#000000"
        },
        "nodes": [
            "5bcdff5d63eb9867",
            "2ce7a9ee491c852d",
            "8f961a518dfb34b5",
            "d9184ab94fa2f059",
            "b7d7fc6a1bce31ce",
            "716fa99a0028ca96",
            "cc84f54efa6db716"
        ],
        "x": 44,
        "y": 239,
        "w": 962,
        "h": 202
    },
    {
        "id": "a1076cc9dbadd9d3",
        "type": "group",
        "z": "b4dbb932abd10490",
        "name": "Convert data",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9395095891c5ac35"
        ],
        "x": 374,
        "y": 499,
        "w": 372,
        "h": 82
    },
    {
        "id": "2ce7a9ee491c852d",
        "type": "function",
        "z": "b4dbb932abd10490",
        "g": "240edba64c1f0851",
        "name": "Prepare API Call",
        "func": "msg.url = \"https://api.eco-counter.com/api/v2/sites\";\n\nmsg.headers = {};\nmsg.headers[\"X-API-KEY\"] = env.get(\"ECO_COUNTER_API_KEY\");\nmsg.headers[\"Accept\"] = \"application/json\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "8f961a518dfb34b5"
            ]
        ]
    },
    {
        "id": "8f961a518dfb34b5",
        "type": "http request",
        "z": "b4dbb932abd10490",
        "g": "240edba64c1f0851",
        "name": "GET Site Info",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "d9184ab94fa2f059"
            ]
        ]
    },
    {
        "id": "ba03599af14974d5",
        "type": "debug",
        "z": "b4dbb932abd10490",
        "g": "8547a3b818800650",
        "name": "debug post",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 660,
        "wires": []
    },
    {
        "id": "bea5eb1b57b93a8c",
        "type": "function",
        "z": "b4dbb932abd10490",
        "g": "8547a3b818800650",
        "name": "Prepare POST",
        "func": "msg.url =  env.get(\"STELLIO_API_URL\") + \"/ngsi-ld/v1/entityOperations/upsert?options=update\";\n\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/ld+json';\nmsg.headers['NGSILD-Tenant'] = env.get(\"FIWARE_SERVICE\");\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 660,
        "wires": [
            [
                "ba03599af14974d5",
                "48cb872bad447837"
            ]
        ]
    },
    {
        "id": "48cb872bad447837",
        "type": "http request",
        "z": "b4dbb932abd10490",
        "g": "8547a3b818800650",
        "name": "POST to Stellio",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 760,
        "wires": [
            [
                "e877cd13dd0095ee",
                "52635ab420ac9b57"
            ]
        ]
    },
    {
        "id": "52635ab420ac9b57",
        "type": "debug",
        "z": "b4dbb932abd10490",
        "g": "8547a3b818800650",
        "name": "timestamp",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "$fromMillis(msg.timestamp)",
        "statusType": "jsonata",
        "x": 1250,
        "y": 840,
        "wires": []
    },
    {
        "id": "e877cd13dd0095ee",
        "type": "debug",
        "z": "b4dbb932abd10490",
        "g": "8547a3b818800650",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "'status: ' & msg.statusCode",
        "statusType": "jsonata",
        "x": 1240,
        "y": 760,
        "wires": []
    },
    {
        "id": "9395095891c5ac35",
        "type": "function",
        "z": "b4dbb932abd10490",
        "g": "a1076cc9dbadd9d3",
        "name": "Prepare TrafficFlowObserved Datamodel",
        "func": "let entities = []\n\nconst data = msg.payload[0].data\n\nfor (const count of data) {\n    if( count.traffic.counts == null || count.traffic.counts == undefined )\n        continue;\n    \n    const datamodel = {\n        \"id\": \"urn:sdm:TrafficFlowObserved:konstanz:ecocounter-\" + msg.siteData.id,\n        \"type\": \"TrafficFlowObserved\",\n        \"name\": {\n            \"type\": \"Property\",\n            \"value\": msg.siteData.name\n        },\n        \"dateObserved\": {\n            \"type\": \"Property\",\n            \"value\": count.timestamp\n        },\n        \"location\": {\n            \"type\": \"GeoProperty\",\n            \"value\": {\n                \"type\": \"Point\",\n                \"coordinates\": [msg.siteData.location.lon, msg.siteData.location.lat]\n            },\n        },\n        \"intensity\": {\n            \"type\": \"Property\",\n            \"value\": count.traffic.counts,\n            \"observedAt\": count.timestamp\n        },\n        \"vehicleType\": {\n            \"type\": \"Property\",\n            \"value\": \"bicycle\"\n        },\n        \"@context\": [\n            `https://context.${ env.get(\"DOMAIN\") }/main-context.jsonld`\n        ]\n    }\n    \n    entities.push(datamodel)\n}\n\nmsg.payload = entities\n\nif (msg.payload.length > 0) {\n    return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 540,
        "wires": [
            [
                "39dd12f723d39d64"
            ]
        ]
    },
    {
        "id": "5bcdff5d63eb9867",
        "type": "inject",
        "z": "b4dbb932abd10490",
        "g": "240edba64c1f0851",
        "name": "",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "2ce7a9ee491c852d"
            ]
        ]
    },
    {
        "id": "d9184ab94fa2f059",
        "type": "split",
        "z": "b4dbb932abd10490",
        "g": "240edba64c1f0851",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "b7d7fc6a1bce31ce"
            ]
        ]
    },
    {
        "id": "b7d7fc6a1bce31ce",
        "type": "function",
        "z": "b4dbb932abd10490",
        "g": "240edba64c1f0851",
        "name": "Prepare Counting Data API Call",
        "func": "//const begin = \"2023-02-03T00%3A00%3A00\"\n//const end = \"2023-02-04T00%3A00%3A00\"\n\nmsg.siteData = msg.payload\n\nconst begin24 = new Date(new Date().setDate(new Date().getDate() - 1))\nconst begin = new Date(begin24.setHours(begin24.getHours() - 6));\n\nconst end = new Date()\n\nconst siteId = msg.payload.id\n\n// Define a helper function to format a Date object into day and time strings.\nfunction formatDate(date) {\n  // Helper to ensure two-digit format for month, day, hours, minutes, and seconds\n  const pad = (num) => num.toString().padStart(2, '0');\n\n  // Format the day as YYYY-MM-DD\n  const day = date.getFullYear() + '-' + pad(date.getMonth() + 1) + '-' + pad(date.getDate());\n  // Format the time as HH:MM:SS\n  const time = pad(date.getHours()) + ':' + pad(date.getMinutes()) + ':' + pad(date.getSeconds());\n  \n  return { day, time };\n}\n\n// Extract the formatted day and time for both begin and end\nconst { day: startDate, time: startTime } = formatDate(begin);\nconst { day: endDate, time: endTime } = formatDate(end);\n\nmsg.url = \"https://api.eco-counter.com/api/v2/history/traffic/aggregated?siteId=\"+siteId+\"&startDate=\"+startDate+\"&endDate=\"+endDate+\"&startDate=\"+startDate+\"&endDate=\"+endDate+\"&startTime=\"+startTime+\"&endTime=\"+endTime+\"&granularity=\"+\"PT15M\";\n\nmsg.headers = {};\nmsg.headers[\"X-API-KEY\"] = env.get(\"ECO_COUNTER_API_KEY\");\nmsg.headers[\"Accept\"] = \"application/json\"\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 340,
        "wires": [
            [
                "cc84f54efa6db716"
            ]
        ]
    },
    {
        "id": "716fa99a0028ca96",
        "type": "debug",
        "z": "b4dbb932abd10490",
        "g": "240edba64c1f0851",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 400,
        "wires": []
    },
    {
        "id": "cc84f54efa6db716",
        "type": "http request",
        "z": "b4dbb932abd10490",
        "g": "240edba64c1f0851",
        "name": "GET",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 400,
        "wires": [
            [
                "716fa99a0028ca96",
                "9395095891c5ac35"
            ]
        ]
    },
    {
        "id": "39dd12f723d39d64",
        "type": "delay",
        "z": "b4dbb932abd10490",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 910,
        "y": 540,
        "wires": [
            [
                "ddf202ddb590a601"
            ]
        ]
    },
    {
        "id": "ddf202ddb590a601",
        "type": "function",
        "z": "b4dbb932abd10490",
        "name": "filter out undefined fields",
        "func": "for (let [index, entity] of msg.payload.entries()) {\n    for (let [field, jsonValue] of Object.entries(entity)) {\n        if (field === 'id' || field === 'type' || field === '@context') {\n            continue\n        }\n        if (jsonValue.value === undefined || jsonValue.value === null) {\n            delete msg.payload[index][field];\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 540,
        "wires": [
            [
                "bea5eb1b57b93a8c"
            ]
        ]
    },
    {
        "id": "2e36820119375021",
        "type": "inject",
        "z": "49203917ef3dc53c",
        "g": "9bb62de76d856a4d",
        "name": "Go!",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "080ab472d262251c"
            ]
        ]
    },
    {
        "id": "080ab472d262251c",
        "type": "function",
        "z": "49203917ef3dc53c",
        "g": "9bb62de76d856a4d",
        "name": "Setup GET Request",
        "func": "msg.url = env.get(\"STELLIO_API_URL\") + \"/ngsi-ld/v1/subscriptions/?limit=100\";\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/ld+json';\nmsg.headers['NGSILD-Tenant'] = env.get(\"FIWARE_SERVICE\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "c75e48673f6853fc"
            ]
        ]
    },
    {
        "id": "c75e48673f6853fc",
        "type": "http request",
        "z": "49203917ef3dc53c",
        "g": "9bb62de76d856a4d",
        "name": "http GET Request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 120,
        "wires": [
            [
                "bdc544139ebcbdf3"
            ]
        ]
    },
    {
        "id": "bdc544139ebcbdf3",
        "type": "debug",
        "z": "49203917ef3dc53c",
        "g": "9bb62de76d856a4d",
        "name": "debug 61",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 120,
        "wires": []
    },
    {
        "id": "10be74007c50d1aa",
        "type": "inject",
        "z": "49203917ef3dc53c",
        "g": "6dd86781514dcb3a",
        "name": "Go!",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "4e70e0215b15eddc"
            ]
        ]
    },
    {
        "id": "4e70e0215b15eddc",
        "type": "function",
        "z": "49203917ef3dc53c",
        "g": "6dd86781514dcb3a",
        "name": "Setup Request",
        "func": "msg.url = env.get(\"STELLIO_API_URL\") + \"/ngsi-ld/v1/subscriptions/urn:ngsi-ld:Subscription:b908c78a-56b6-4bc8-9463-371f15abc470\";\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/ld+json';\nmsg.headers['NGSILD-Tenant'] = env.get(\"FIWARE_SERVICE\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 480,
        "wires": [
            [
                "acbc43b901b13459"
            ]
        ]
    },
    {
        "id": "acbc43b901b13459",
        "type": "http request",
        "z": "49203917ef3dc53c",
        "g": "6dd86781514dcb3a",
        "name": "DELETE",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 600,
        "y": 480,
        "wires": [
            [
                "0846d8739a3a413e"
            ]
        ]
    },
    {
        "id": "0846d8739a3a413e",
        "type": "debug",
        "z": "49203917ef3dc53c",
        "g": "6dd86781514dcb3a",
        "name": "debug 84",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "50f6c90273d64dec",
        "type": "http request",
        "z": "49203917ef3dc53c",
        "g": "ac0b1ae0b3d6d0d5",
        "name": "http POST Request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 380,
        "wires": [
            [
                "af2b75ee75418e36"
            ]
        ]
    },
    {
        "id": "9e13e3cb6787596e",
        "type": "inject",
        "z": "49203917ef3dc53c",
        "g": "ac0b1ae0b3d6d0d5",
        "name": "Go!",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "bc522295a33c44e8"
            ]
        ]
    },
    {
        "id": "af2b75ee75418e36",
        "type": "debug",
        "z": "49203917ef3dc53c",
        "g": "ac0b1ae0b3d6d0d5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "efc1dbde7ca33800",
        "type": "function",
        "z": "49203917ef3dc53c",
        "g": "ac0b1ae0b3d6d0d5",
        "name": "Setup Request",
        "func": "msg.url = env.get(\"STELLIO_API_URL\") + \"/ngsi-ld/v1/subscriptions\";\n\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/ld+json';\nmsg.headers['NGSILD-Tenant'] = env.get(\"FIWARE_SERVICE\");\n\nmsg.payload = {\n   \t\"type\": \"Subscription\",\n\t\"subscriptionName\": \"Subscription for entity type \" + msg.dataModel + \".\",\n\t\"description\": \"This subscription triggers everytime an entity from type \" + msg.dataModel + \" is updated. Only watching attribute dateObserved to avoid duplications.\",\n   \t\"entities\": [\n\t\t{\n\t\t\t\"type\": msg.dataModel\n   \t\t}\n\t],\n    \"watchedAttributes\": [\"dateObserved\"],\n\t\"notificationTrigger\": [\"entityCreated\", \"attributeCreated\", \"attributeUpdated\"],\n    \"notification\": {\n       \t\"format\": \"normalized\",\n       \t\"endpoint\": {\n\t\t\t\t  \"uri\": env.get(\"QL_LD_API_URL\") + \"/v2/notify\",\n          \t\"accept\": \"application/json\"\n       \t}\n    },\n    \"@context\": [\n\t\t`https://context.${ env.get(\"DOMAIN\") }/main-context.jsonld`\n    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "50f6c90273d64dec"
            ]
        ]
    },
    {
        "id": "2a90adb0c7c87f69",
        "type": "function",
        "z": "49203917ef3dc53c",
        "g": "ac0b1ae0b3d6d0d5",
        "name": "Check if already exists",
        "func": "msg.sub_exists = false;\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    const type = msg.payload[i].entities[0].type;\n\n    if (type.includes(msg.dataModel)){\n        msg.sub_exists = true;\n        node.warn(\"There is already a subscription for this type.\")\n        break;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 260,
        "wires": [
            [
                "922ae5c915dbfef5"
            ]
        ]
    },
    {
        "id": "bc522295a33c44e8",
        "type": "function",
        "z": "49203917ef3dc53c",
        "g": "ac0b1ae0b3d6d0d5",
        "name": "Setup GET Request",
        "func": "msg.url = env.get(\"STELLIO_API_URL\") + \"/ngsi-ld/v1/subscriptions/?limit=100\";\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/ld+json';\nmsg.headers['NGSILD-Tenant'] = env.get(\"FIWARE_SERVICE\");\nmsg.dataModel = \"TrafficFlowObserved\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 260,
        "wires": [
            [
                "e22b47130cab0aff"
            ]
        ]
    },
    {
        "id": "e22b47130cab0aff",
        "type": "http request",
        "z": "49203917ef3dc53c",
        "g": "ac0b1ae0b3d6d0d5",
        "name": "http GET Request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "2a90adb0c7c87f69"
            ]
        ]
    },
    {
        "id": "922ae5c915dbfef5",
        "type": "switch",
        "z": "49203917ef3dc53c",
        "g": "ac0b1ae0b3d6d0d5",
        "name": "",
        "property": "sub_exists",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "dd05473a52b6b668"
            ],
            [
                "efc1dbde7ca33800"
            ]
        ]
    },
    {
        "id": "dd05473a52b6b668",
        "type": "debug",
        "z": "49203917ef3dc53c",
        "g": "ac0b1ae0b3d6d0d5",
        "name": "debug 83",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "c345fc4b7d75c548",
        "type": "comment",
        "z": "49203917ef3dc53c",
        "g": "ac0b1ae0b3d6d0d5",
        "name": "Because of what Stellio does to the type used in subcriptions, the check is only checking if existing subscriptions are on a type containing a specified datamodel and not if it is equal to.",
        "info": "",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "7a1e7516db7233dd",
        "type": "inject",
        "z": "49203917ef3dc53c",
        "g": "40411f41f2a1329e",
        "name": "Go!",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "0a5fa65bb808e3f5"
            ]
        ]
    },
    {
        "id": "0a5fa65bb808e3f5",
        "type": "function",
        "z": "49203917ef3dc53c",
        "g": "40411f41f2a1329e",
        "name": "Setup Request",
        "func": "msg.url = env.get(\"STELLIO_API_URL\") + \"/ngsi-ld/v1/entities/urn:sdm:TrafficFlowObserved:konstanz:ecocounter-300016792\";\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/ld+json';\nmsg.headers['NGSILD-Tenant'] = env.get(\"FIWARE_SERVICE\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 580,
        "wires": [
            [
                "981249c2044a8134"
            ]
        ]
    },
    {
        "id": "981249c2044a8134",
        "type": "http request",
        "z": "49203917ef3dc53c",
        "g": "40411f41f2a1329e",
        "name": "http GET Request",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 580,
        "wires": [
            [
                "773aa9ef6eb2d64d"
            ]
        ]
    },
    {
        "id": "773aa9ef6eb2d64d",
        "type": "debug",
        "z": "49203917ef3dc53c",
        "g": "40411f41f2a1329e",
        "name": "debug 87",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 580,
        "wires": []
    }
]